extends ../layout/base.pug

//- Page Head SEO
block append seo
    title Front End Test - Greenthumb

//- Page styles
block append styles

//- Main Content
block content
    include ./home/index.pug


//- Page scripts
block append scripts