section(class='ge-banner' id='banner-top')
    img(src="../images/hero/desktop/left-leaves.png" class='is--tablet-desktop' alt='Plants')
    img(src="../images/hero/desktop/plantperson.png" class='is--tablet-desktop' alt='Person Plant')
    img(src="../images/hero/desktop/right-leaves.png" class='is--tablet-desktop' alt='Plants')
    img(src="../images/hero/mobile/mobile-leaves.png" class='is--mobile' alt='Plants')
    img(src="../images/hero/mobile/mobile-plantperson.png" class='is--mobile' alt='Person Plant')


    div(class='container')
        div(class='ge-banner__content')
            h2 Find your next green friend
            a(href='#select-plants' class='js--acrolTo')
                svg
                    use(xlink:href='#arrow-down')
            
